WS_Central/WS_Central/Connected Services/EventoWSAzure/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfEventoS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventoS" nillable="true" type="tns:EventoS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventoS" nillable="true" type="tns:ArrayOfEventoS" />
  <xs:complexType name="EventoS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacidade" type="xs:int" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Localizacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lotacao" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventoS" nillable="true" type="tns:EventoS" />
</xs:schema>