WS_Pessoa/WS_Pessoa/App_WebReferences/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="PessoaS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bi" type="xs:int" />
      <xs:element minOccurs="0" name="Idade" type="xs:int" />
      <xs:element minOccurs="0" name="Localidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PessoaS" nillable="true" type="tns:PessoaS" />
  <xs:complexType name="ArrayOfPessoaS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PessoaS" nillable="true" type="tns:PessoaS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPessoaS" nillable="true" type="tns:ArrayOfPessoaS" />
</xs:schema>